package responses

// {{ .SuccessResponse.Schema.Name.Default.Title }} ... {{ .Description }}
type {{ .SuccessResponse.Schema.Name.Default.Title }} struct {
{{- range .SuccessResponse.Schema.Properties}}
{{ .Name.Default.Title }} {{if eq .Required false }}*{{end}}{{if eq .Type "array" }}[]{{.ArrayItemName}}{{ else }}{{.Type}}{{ end}} `json:"{{ .Name.Default.Snake }}"`
{{- end }}
}

// New{{ .SuccessResponse.Schema.Name.Default.Title }} ... Create new {{ .SuccessResponse.Schema.Name.Default.Title }} response
func New{{ .SuccessResponse.Schema.Name.Default.Title }}() *{{ .SuccessResponse.Schema.Name.Default.Title }} {
response := &{{ .SuccessResponse.Schema.Name.Default.Title }}{
}
return response
}
